@(districts: List[District],states: Map[String,String], districtForm: Form[District])

@import helper._ 

@main("Polltoad-Districts") {

<ul class="nav nav-pills">
  <li class="active"><a href="#tablediv" data-toggle="tab">Districts</a></li>
  <li><a href="#adddiv" data-toggle="tab">Add</a></li>
</ul>
<div id='content' class="tab-content">
<div class="tab-pane active" id="tablediv">
<h2>@districts.size Districts(s)</h2>

<table class="table">

   <th>
	Name </th> <th> State</th><th>Remove</th>
	 @for(district <-	districts) {
	 <tr>
	 <td>
	@district.name
     </td>
     <td>
	    @district.state.name
	 </td>
	 <td>
		@form(routes.DistrictController.deleteDistrict(district.districtId)) { <input
		type="submit" value="Delete"> }
	</td>
	</tr>}

</table>
</div>
<div  class="tab-pane" id="adddiv">
<h2>Add a new district</h2>

@form(routes.DistrictController.newDistrict()) {

<div>

	@inputText(districtForm("name"),'_label ->"Name",'_showConstraints -> false)

    @select(districtForm("state.stateId"),options(states),'_label->"Choose State (*)")

</div>

<input type="submit" value="Create">

} 
}
</div>
</div>