@(constituencies: List[Constituency],states: Map[String,String], constituencyForm: Form[Constituency])

@import helper._ 
@import helper.twitterBootstrap._

@main("Polltoad-Constituency") {
<ul class="nav nav-pills">
  <li class="active"><a href="#tablediv" data-toggle="tab">Constituencies</a></li>
</ul>
<div id='content' class="tab-content">
<div class="tab-pane active" id="tablediv">
<h2>@constituencies.size Constituency(s)</h2>

<table class="table">

   <th>#</th><th>Name </th> <th> State</th><th>Type</th>
	 @for(constituency <-	constituencies) {
	 <tr>
	 <td>
	 @(constituencies.indexOf(constituency)+1)
	 </td>
	 <td>
	@constituency.name
     </td>
     <td>
	    @constituency.state.name
	 </td>
	 <td>
	 @if(constituency.parliament){
	     Parliamentary
	    }else{
	     Assembly
	    }
	
	 </td>
	</tr>}

</table>
</div>

}
</div>