@(politicalparties: List[PoliticalParty], politicalpartyForm: Form[PoliticalParty])

@import helper._ 

@main("Polltoad-Political Party") {
	<ul class="nav nav-pills">
  <li class="active"><a href="#tablediv" data-toggle="tab">Political Parties</a></li>
</ul>
<div id='content' class="tab-content">
<div class="tab-pane active" id="tablediv">
<h2>@politicalparties.size Political Party(s)</h2>

<table class="table">
	<th>
	#
	</th>
    <th>
	Name 
	</th>
	
	@for(politicalparty <- politicalparties) {
	<tr>
	<td>
	@(politicalparties.indexOf(politicalparty)+1)
	</td>  
	<td>
	@politicalparty.name
	</td>   
	 </tr>
	 }
	
</table>
</div>

}

</div>