@(politicians: List[Politician],constituencies: Map[String,String],politicalparties: Map[String,String], politicianForm: Form[Politician])

@import helper._ 
@import helper.twitterBootstrap._

@main("Polltoad-Politician") {



<ul class="nav nav-pills">
  <li class="active"><a href="#tablediv" data-toggle="tab">Politicians</a></li>  
</ul>
<div id='content' class="tab-content">
<div class="tab-pane active" id="tablediv">
<h2>@politicians.size politician(s)</h2>
<table class="table">
	<th>#</th><th>Name </th><th> Date of Birth </th> <th>Place of Birth </th><th>Political Party</th><th>Constituency</th>
	<th>Education</th><th>Profession</th>
	@for(politician <- politicians) {
	<tr>
	<td>
	@(politicians.indexOf(politician)+1)
	</td>
	<td>
	@politician.person.name 
	</td>
	<td>
		@politician.person.formattedDOB
    </td>
	<td>
		@politician.person.placeofbirth
    </td>
    <td>
		
		@politician.currentpoliticalparty.name
    </td>
    <td>
		@politician.currentconstituency.name
    </td>
    <td>
		@politician.education.education
    </td>
    <td>
		@politician.profession.profession
    </td>
	</tr> }
</table>
</div>



}
</div>
