@(states: List[State], stateForm: Form[State])

@import helper._ 
@import helper.twitterBootstrap._

@main("Polltoad-State") {
<ul class="nav nav-pills">
  <li class="active"><a href="#tablediv" data-toggle="tab">States</a></li>
</ul>
<div id='content' class="tab-content">
<div class="tab-pane active" id="tablediv">

<h2>@states.size State(s) and UT(s)</h2>


<table class="table">
   <th>#</th><th>Type</th><th>Name</th>
   
	  @for(state <-	states) {
	  <tr>
	  <td>@(states.indexOf(state)+1)</td>
	  <td>
	  @if(state.ut) {UT} else {State}
	  </td>
	  <td>
		@state.name
	  </td>
	</tr> }

</table>
</div>

}
</div>